/* Базовые стили ----------------------- */
*,
*:before,
*:after {
	box-sizing: border-box;
}

.container {
	max-width: 1200px;
	margin   : 0 auto;
	padding  : 0 15px;
}

.visually-hidden {
	position: absolute;
	clip    : rect(0 0 0 0);
	width   : 1px;
	height  : 1px;
	margin  : -1px;
}

body {
	margin     : 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	font-size  : 18px;
	line-height: 21px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0;
}

ul {
	margin : 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	color          : #151C22;
	text-decoration: none;
}

input,
button,
textarea {
	font-family: inherit;
}

button {
	cursor: pointer;
}

.btn {
	display        : flex;
	justify-content: center;
	align-items    : center;

	width  : 200px;
	height : 64px;
	padding: 0 24px;

	background-color: #151C22;

	font-size  : 16px;
	font-weight: 700;
	color      : white;
}

.link__view-all {
	margin-right : -2px;
	padding      : 0 5px 1px 5px;
	border-bottom: 2px solid #151C22;
}

/* Отступы между блоками --------------- */
.doc__promo {
	margin-bottom: 130px;
}

.doc__bestsellers {
	margin-bottom: 108px;
}

.doc__news {
	margin-bottom: 109px;
}

.doc__category {
	margin-bottom: 130px;
}

/* Шапка ------------------------------- */
.main-header {
	height: 67px;
}

.main-nav {
	display        : flex;
	justify-content: space-between;
	align-items    : center;
}

.site-navigation {
	display  : flex;
	flex-wrap: wrap;

}

.site-navigation__list:not(:last-child) {
	margin-right: 35px;
}

.site-navigation__link {
	font-size: 16px;
	color    : #151C22;
}

.logo {
	position: relative;
	left    : -30px;

	font-size  : 24px;
	font-weight: 700;
}

.user-navigation {
	font-size: 0;
}

.user-navigation__search::before {
	display: inline-block;
	content: '';

	width : 20px;
	height: 20px;

	background: url("../img/search.svg");
}

.user-navigation__cart::before {
	display: inline-block;
	content: '';

	width      : 22px;
	height     : 20px;
	margin-left: 35px;

	background: url("../img/cart.svg");
}

/* Промо блок -------------------------- */
.promo {
	padding-top   : 50px;
	padding-bottom: 50px;

	background-color: #F1F2F4;
}

.promo__wrapper {
	display: flex;
}

.promo__col-1 {
	position: relative;
	display : flex;
	width   : 52%;
}

.promo__col-1-wrapper {
	margin-top  : 142px;
	margin-right: 100px;
	margin-left : auto;
}

.promo__slogan {

	margin-bottom: 20px;

	font-weight: 400;
	color      : #727A82;
}

.promo__brand {
	margin-bottom: 50px;
}

.promo__btn {
	width: 219px;
}

.promo__arrow {
	position: absolute;
	bottom  : 0;
	left    : 0;

	font-size: 0;
}

.promo__arrow::before {
	display: block;

	width  : 12px;
	height : 29px;
	content: '';

	background-image: url("../img/arrow.svg");
}

.promo__col-2 {
	position: relative;

	width        : 545px;
	padding-right: 15px;
}

.promo__col-2::before {
	position: absolute;
	left    : -50px;
	top     : -50px;

	width  : 232px;
	height : 176px;
	content: '';

	background-image: url('../img/diagonal-top.png');

	z-index: 1;
}

.promo__col-2::after {
	position: absolute;
	left    : 248px;
	bottom  : -50px;

	width  : 232px;
	height : 176px;
	content: '';

	background-image: url('../img/diagonal-bottom.png');

	z-index: 1;
}

.promo__img {
	position: relative;
	display : block;

	z-index: 2;
}

/* Bestsellers ------------------------- */
.bestsellers__wrapper {
	display        : flex;
	justify-content: space-between;
	align-items    : baseline;
}

.bestsellers__title {
	margin-bottom: 70px;
}

.bestsellers__list {
	display  : flex;
	flex-wrap: wrap;

	margin-right: -30px;
}

.bestsellers__item {
	margin-right: 30px;
}

.bestsellers__img {
	display: block;
}

.bestsellers__text {
	margin-top   : 25px;
	margin-bottom: 15px;
}

.bestsellers__price {
	font-weight: 700;
}

/* News -------------------------------- */
.news__wrapper {
	display        : flex;
	justify-content: space-between;
	align-items    : baseline;
}

.news__title {
	margin-bottom: 70px;
}

.news__article {
	display: flex;
}

.news__inner {
	width  : 400px;
	height : 397px;
	margin : 31px 70px 34px 0;
	padding: 52px 43px 28px 43px;

	background-color: #F1F2F4;
}

.news__title {
	margin-bottom: 27px;

	font-size  : 24px;
	line-height: 28px;
}

.news__date {
	font-weight: 400;
}

.news__text {
	margin-top   : 13px;
	margin-bottom: 24px;

	font-size  : 18px;
	font-weight: 400;

	color: #727A82;
}

/* Shop by category -------------------- */
.category__wrapper {
	display        : flex;
	justify-content: space-between;
	align-items    : baseline;
}

.category__title {
	margin-bottom: 70px;
}

.category__list {
	display  : flex;
	flex-wrap: wrap;

	margin-right: -30px;
}

.category__item {
	margin-right: 30px;
}

.category__img {
	display: block;
}

.category__text {
	margin-top   : 25px;
	margin-bottom: 15px;
}

/* Футер ------------------------------- */